/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* contractor_ui */
.contractor-f0d9f8af6539 {
  position: relative;
  width: 486px;
  height: 1080px;
  background: #FFFFFFFF;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  z-index: 0;
}

/* Group */
.group-f24ec2b12a96 {
  position: absolute;
  left: 31.5px;
  top: 717px;
  width: 423px;
  height: 132px;
}

/* no_choice */
.nochoice-f24e9b65ad06 {
  position: absolute;
  left: 77.5px;
  top: 90px;
  width: 116px;
  height: 42px;
}

/* svg-g */
.svgg-f24e9b65ad09 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgg-f24e9b65ad09 {
  position: absolute;
  left: 81.54px;
  top: 9.24px;
  width: 22.7px;
  height: 22.68px;
}

/* svg-path */
.svgpath-f24e9b65ad0a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24e9b65ad0a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22.7px;
  height: 22.68px;
}

/* لا */
.f24e9b65ad08 {
  position: absolute;
  left: 1.68px;
  top: 8.4px;
  width: 71.45px;
  height: 24.36px;
}
.f24e9b65ad08 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24e9b65ad08 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24e9b65ad08 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24e9b65ad08 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Rectangle */
.rectangle-f24e9b65ad07 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 116px;
  height: 42px;
  background: #ffffffFF;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 4px 3px #00000033;
}

/* yes_choice */
.yeschoice-f24e9951a497 {
  position: absolute;
  left: 229.5px;
  top: 90px;
  width: 116px;
  height: 42px;
}

/* svg-g */
.svgg-f24e3b5e9582 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgg-f24e3b5e9582 {
  position: absolute;
  left: 81.54px;
  top: 9.24px;
  width: 22.7px;
  height: 22.68px;
}

/* svg-path */
.svgpath-f24e3b5e9583 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24e3b5e9583 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22.7px;
  height: 22.68px;
}

/* نعم */
.f24e3b5e9585 {
  position: absolute;
  left: 1.68px;
  top: 8.4px;
  width: 71.45px;
  height: 24.36px;
}
.f24e3b5e9585 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24e3b5e9585 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24e3b5e9585 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24e3b5e9585 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Rectangle */
.rectangle-f24e3b5e9584 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 116px;
  height: 42px;
  background: #ffffffFF;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 4px 3px #00000033;
}

/* هل أنت سائق شاحنة أو عربة بجانب كونك مقاول؟ */
.f24daea6f577 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 423px;
}
.f24daea6f577 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24daea6f577 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24daea6f577 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
.f24daea6f577 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Group */
.group-f24b72288091 {
  position: absolute;
  left: 30px;
  top: 592px;
  width: 426px;
  height: 103px;
}

/* أدخل رقم الرخصة التجارية */
.f24b72288094 {
  position: absolute;
  left: 0px;
  top: 59px;
  width: 411px;
  opacity: 0.5;
}
.f24b72288094 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b72288094 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b72288094 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b72288094 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(78, 78, 78, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(78, 78, 78, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
}

/* serialnu_typeinput */
.serialnut-f24b72288093 {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 426px;
  height: 60px;
  background: #ffffffFF;
  border: 1.5px solid #4e4e4eFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* رقم الرخصة التجارية (إن وجد) */
.f24b72288092 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 423px;
}
.f24b72288092 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b72288092 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b72288092 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b72288092 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}
.f24b72288092 .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Group */
.group-f24b7228808d {
  position: absolute;
  left: 30px;
  top: 342px;
  width: 426px;
  height: 103px;
}

/* أدخل اسم المقاول أو الشركة */
.f24b72288090 {
  position: absolute;
  left: 138px;
  top: 59px;
  width: 273px;
  opacity: 0.5;
}
.f24b72288090 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b72288090 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b72288090 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b72288090 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(78, 78, 78, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(78, 78, 78, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
}

/* contractorname_typeinput */
.contractor-f24b7228808f {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 426px;
  height: 60px;
  background: #ffffffFF;
  border: 1.5px solid #4e4e4eFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* اسم المقاول أو الشركة (مطلوب) */
.f24b7228808e {
  position: absolute;
  left: 81px;
  top: 0px;
  width: 342px;
}
.f24b7228808e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b7228808e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b7228808e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b7228808e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}
.f24b7228808e .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Group */
.group-f24b72288081 {
  position: absolute;
  left: 30px;
  top: 467px;
  width: 426px;
  height: 103px;
}

/* Group */
.group-f24b72288085 {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 307px;
  height: 60px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* أدخل رقم الهاتف */
.f24b7228808c {
  position: absolute;
  left: 127px;
  top: 15.5px;
  width: 164px;
  opacity: 0.5;
}
.f24b7228808c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b7228808c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b7228808c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b7228808c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(78, 78, 78, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(78, 78, 78, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
}

/* phone_typeinput */
.phonetype-f24b7228808b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 307px;
  height: 60px;
  background: #ffffffFF;
  border: 1.5px solid #4e4e4eFF;
  border-radius: 10px 10px 10px 10px;
}

/* twemoji:flag-libya */
.twemoji-fl-f24b72288084 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.twemoji-fl-f24b72288084 {
  position: absolute;
  left: 383px;
  top: 58px;
  width: 43px;
  height: 31px;
}

/* svg-path */
.svgpath-f24b7228808a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b7228808a {
  position: absolute;
  left: 23.39px;
  top: 12.76px;
  width: 5.22px;
  height: 5.48px;
}

/* svg-path */
.svgpath-f24b72288089 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b72288089 {
  position: absolute;
  left: 17.62px;
  top: 11.62px;
  width: 6.64px;
  height: 7.75px;
}

/* svg-path */
.svgpath-f24b72288088 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b72288088 {
  position: absolute;
  left: 0px;
  top: 22.65px;
  width: 43px;
  height: 8.35px;
}

/* svg-path */
.svgpath-f24b72288087 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b72288087 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43px;
  height: 8.35px;
}

/* svg-path */
.svgpath-f24b72288086 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b72288086 {
  position: absolute;
  left: 0px;
  top: 8.35px;
  width: 43px;
  height: 14.31px;
}

/* +218 */
.c-218-f24b72288083 {
  position: absolute;
  left: 319px;
  top: 59px;
  width: 51.96px;
}
.c-218-f24b72288083 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-218-f24b72288083 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-218-f24b72288083 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.c-218-f24b72288083 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
}

/* رقم الهاتف (مطلوب) */
.f24b72288082 {
  position: absolute;
  left: 167px;
  top: 0px;
  width: 256px;
}
.f24b72288082 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b72288082 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24b72288082 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24b72288082 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}
.f24b72288082 .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* ic:round-arrow-back */
.ic-rounda-f24b9108998c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ic-rounda-f24b9108998c {
  position: absolute;
  left: 423.5px;
  top: 20px;
  width: 42px;
  height: 41px;
}

/* svg-path */
.svgpath-f24b9108998d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b9108998d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42px;
  height: 41px;
  transform: matrix(-1.00, 0.00, 0.00, 1.00, 0.00, 0.00);
}

/* أدخل معلومات المقاول للمتابعة */
.f24b9108998b {
  position: absolute;
  left: 63.5px;
  top: 206px;
  height: 29px;
}
.f24b9108998b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b9108998b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f24b9108998b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f24b9108998b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 900;
}

/* معلومات المقاول */
.f24b9108998a {
  position: absolute;
  left: 143px;
  top: 26px;
  height: 29px;
}
.f24b9108998a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b9108998a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f24b9108998a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f24b9108998a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 900;
}

/* map:general-contractor */
.map-genera-f24c2f083441 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-32px,-32px);
}
.map-genera-f24c2f083441 {
  position: absolute;
  left: 192px;
  top: 114px;
  width: 102px;
  height: 70px;
}

/* svg-path */
.svgpath-f24c2f083442 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24c2f083442 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 102px;
  height: 70px;
}

/* CONTRACTOR */
.c-o-n-t-r-a-c-t-o-r-f24b91089987 {
  position: absolute;
  left: 112px;
  top: 241px;
  width: 262px;
}
.c-o-n-t-r-a-c-t-o-r-f24b91089987 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-o-n-t-r-a-c-t-o-r-f24b91089987 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-o-n-t-r-a-c-t-o-r-f24b91089987 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.c-o-n-t-r-a-c-t-o-r-f24b91089987 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
}

/* 2d */
.c-2d-f24b72288097 {
  position: absolute;
  left: 126.5px;
  top: 898px;
  width: 233px;
  height: 12px;
}

/* Rectangle */
.rectangle-f24b7228809b {
  position: absolute;
  left: 183px;
  top: 0px;
  width: 50px;
  height: 12px;
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f24b7228809a {
  position: absolute;
  left: 122px;
  top: 0px;
  width: 50px;
  height: 12px;
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f24b72288099 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, -0.00, -1.00, -0.00, -0.00);
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f24b72288098 {
  position: absolute;
  left: 61px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, 0.00, -1.00, 0.00, 0.00);
  background: #aa652bFF;
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* next */
.next-f547a99f0141 {
  position: absolute;
  left: 30px;
  top: 932px;
  width: 426px;
  height: 68px;
}

/* المتابعة */
.f24b72288096 {
  position: absolute;
  left: 156px;
  top: 15px;
  height: 36px;
  box-shadow: ;
}
.f24b72288096 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24b72288096 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f24b72288096 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f24b72288096 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 30px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
}

/* Rectangle */
.rectangle-f24b72288095 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 426px;
  height: 68px;
  background: linear-gradient(to bottom, rgba(72, 34, 0, 1) 0%,rgba(170, 101, 43, 1) 100%);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* background */
.background-f546579f5b2b {
  position: absolute;
  left: -179px;
  top: -355px;
  width: 845px;
  height: 1455px;
}

/* Group */
.group-f24b7228c6c9 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-160px,-160px);
}
.group-f24b7228c6c9 {
  position: absolute;
  left: 0px;
  top: 1160px;
  width: 845px;
  height: 215px;
  opacity: 0.3;
}

/* Group */
.group-f24b7228809c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-160px,-160px);
}
.group-f24b7228809c {
  position: absolute;
  left: 0px;
  top: 413px;
  width: 845px;
  height: 215px;
  opacity: 0.3;
}

/* Rectangle */
.rectangle-f25284a1a4d9 {
  position: absolute;
  left: 179px;
  top: 659px;
  width: 486px;
  height: 796px;
  background: #ffffffFF;
  border-radius: 80px 80px 0px 0px;
  box-shadow: 4px 4px 50px 7px #00000080;
}

/* logo_blured */
.logoblure-f24b7228807c {
  position: absolute;
  left: 155.5px;
  top: 0px;
  width: 533px;
  height: 699px;
  opacity: 0.15;
}

/* svg-path */
.svgpath-f24b7228807f > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b7228807f {
  position: absolute;
  left: 32.86px;
  top: 330.86px;
  width: 467.22px;
  height: 333.61px;
}

/* svg-path */
.svgpath-f24b7228807e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24b7228807e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 533px;
  height: 699px;
}

/* svg-path */
.svgpath-f24b7228807d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(4.547473508864641e-13px,0px);
}
.svgpath-f24b7228807d {
  position: absolute;
  left: 151.18px;
  top: 86.78px;
  width: 228.43px;
  height: 227.7px;
}

/* Rectangle */
.rectangle-f24b7228807b {
  position: absolute;
  left: 157px;
  top: 335px;
  width: 530px;
  height: 475px;
  background: linear-gradient(to bottom, rgba(72, 34, 0, 1) 0%,rgba(170, 101, 43, 1) 100%);
  border-radius: 0px 0px 0px 0px;
}