/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hEk5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hGA5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hNI-a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hAc5a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a13iLD-H.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/cairo/v31/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1PiLA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* password_section */
.passwords-f240e1eef0ed {
  position: relative;
  width: 486px;
  height: 1080px;
  background: #FFFFFFFF;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  z-index: 0;
}

/* material-symbols:password-rounded */
.materials-f241c9e6c63e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.materials-f241c9e6c63e {
  position: absolute;
  left: 187px;
  top: 131px;
  width: 112px;
  height: 59px;
}

/* svg-path */
.svgpath-f241c9edba30 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f241c9edba30 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 112px;
  height: 59px;
}

/* كلمة المرور */
.f240e1eef0ff {
  position: absolute;
  left: 177.5px;
  top: 26.17px;
  height: 29px;
}
.f240e1eef0ff .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0ff .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0ff .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f240e1eef0ff .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 900;
}

/* 4th_loading */
.c-4thloadin-f240e1eef0fb {
  position: absolute;
  left: 126.5px;
  top: 918px;
  width: 233px;
  height: 12px;
}

/* Rectangle */
.rectangle-f240e1ef0023 {
  position: absolute;
  left: 122px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, 0.00, -1.00, 0.00, 0.00);
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f240e1ef0022 {
  position: absolute;
  left: 61px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, 0.00, -1.00, -0.00, -0.00);
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f240e1ef0021 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, -0.00, -1.00, -0.00, -0.00);
  background: linear-gradient(to bottom, rgba(125, 94, 39, 1) 0%,rgba(78, 61, 26, 0) 100%);
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* Rectangle */
.rectangle-f240e1ef0020 {
  position: absolute;
  left: 183px;
  top: 0px;
  width: 50px;
  height: 12px;
  transform: matrix(-1.00, 0.00, -0.00, -1.00, -0.00, 0.00);
  background: #aa652bFF;
  border-radius: 80px 80px 80px 80px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* next */
.next-f4e09a2dbe08 {
  position: absolute;
  left: 30px;
  top: 952px;
  width: 426px;
  height: 68px;
}

/* المتابعة */
.f240e1eef0f9 {
  position: absolute;
  left: 155.5px;
  top: 15px;
  height: 36px;
  box-shadow: ;
}
.f240e1eef0f9 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0f9 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0f9 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f240e1eef0f9 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 30px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
}

/* Rectangle */
.rectangle-f240e1eef0f8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 426px;
  height: 68px;
  background: linear-gradient(to bottom, rgba(72, 34, 0, 1) 0%,rgba(170, 101, 43, 1) 100%);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* ic:round-arrow-back */
.ic-rounda-f240e1eef0f7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ic-rounda-f240e1eef0f7 {
  position: absolute;
  left: 423.5px;
  top: 20px;
  width: 42px;
  height: 41px;
}

/* svg-path */
.svgpath-f240e1eef100 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f240e1eef100 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42px;
  height: 41px;
  transform: matrix(-1.00, 0.00, 0.00, 1.00, 0.00, 0.00);
}

/* للحفاظ على خصوصية وأمن معلوماتك، أدخل كلمة سر */
.f240e1eef0f5 {
  position: absolute;
  left: 36px;
  top: 374px;
  width: 414px;
}
.f240e1eef0f5 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0f5 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0f5 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
.f240e1eef0f5 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
}

/* إنشاء كلمة مرور */
.f240e1eef0f4 {
  position: absolute;
  left: 72px;
  top: 333px;
  width: 342px;
}
.f240e1eef0f4 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0f4 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0f4 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f240e1eef0f4 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* معلومة
يفضل أثناء كتابة كلمة مرور للحساب أن لا تقل كلمة المرور عن ثمانية أرقام، ويفضل إستخدام الرموز (.،*،-،\،-،%، إلخ...) حتى يصعب إختراق الحساب ولتفادي سرقة البيانات الشخصية. */
.f240e1eef0f3 {
  position: absolute;
  left: 29px;
  top: 681px;
  width: 428px;
}
.f240e1eef0f3 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0f3 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0f3 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}
.f240e1eef0f3 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 800;
}
.f240e1eef0f3 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.3;
  margin: 0;
  text-align: justify;
}
.f240e1eef0f3 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
}

/* Group */
.group-f242823f077b {
  position: absolute;
  left: 30px;
  top: 549px;
  width: 426px;
  height: 103px;
}

/* أدخل كلمة المرور */
.f242823f077f {
  position: absolute;
  left: 247px;
  top: 59px;
  width: 164px;
  opacity: 0.5;
}
.f242823f077f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f242823f077f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f242823f077f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f242823f077f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(78, 78, 78, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(78, 78, 78, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
}

/* clarity:eye-hide-solid */
.clarity-ey-f242823f077e > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.clarity-ey-f242823f077e {
  position: absolute;
  left: 10px;
  top: 58px;
  width: 34px;
  height: 29px;
}

/* svg-path */
.svgpath-f242823f0782 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f242823f0782 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 31.89px;
  height: 29px;
}

/* svg-path */
.svgpath-f242823f0781 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f242823f0781 {
  position: absolute;
  left: 11.46px;
  top: 3.42px;
  width: 22.54px;
  height: 17.87px;
}

/* svg-path */
.svgpath-f242823f0780 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,-4.547473508864641e-13px);
}
.svgpath-f242823f0780 {
  position: absolute;
  left: 14.38px;
  top: 7.26px;
  width: 9.75px;
  height: 9.73px;
}

/* retypepass_typeinput */
.retypepass-f242823f077d {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 426px;
  height: 60px;
  background: #ffffffFF;
  border: 1.5px solid #4e4e4eFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* أعد كتابة كلمة المرور */
.f242823f077c {
  position: absolute;
  left: 130px;
  top: 0px;
  width: 293px;
}
.f242823f077c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f242823f077c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f242823f077c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f242823f077c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* Group */
.group-f2427e053b86 {
  position: absolute;
  left: 30px;
  top: 423px;
  width: 426px;
  height: 103px;
}

/* أدخل كلمة المرور */
.f24279747585 {
  position: absolute;
  left: 247px;
  top: 59px;
  width: 164px;
  opacity: 0.5;
}
.f24279747585 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f24279747585 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f24279747585 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f24279747585 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(78, 78, 78, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(78, 78, 78, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
}

/* clarity:eye-hide-solid */
.clarity-ey-f24279747581 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.clarity-ey-f24279747581 {
  position: absolute;
  left: 10px;
  top: 58px;
  width: 34px;
  height: 29px;
}

/* svg-path */
.svgpath-f24279747584 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24279747584 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 31.89px;
  height: 29px;
}

/* svg-path */
.svgpath-f24279747583 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f24279747583 {
  position: absolute;
  left: 11.46px;
  top: 3.42px;
  width: 22.54px;
  height: 17.87px;
}

/* svg-path */
.svgpath-f24279747582 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,-4.547473508864641e-13px);
}
.svgpath-f24279747582 {
  position: absolute;
  left: 14.38px;
  top: 7.26px;
  width: 9.75px;
  height: 9.73px;
}

/* password_typeinput */
.passwordt-f24279747580 {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 426px;
  height: 60px;
  background: #ffffffFF;
  border: 1.5px solid #4e4e4eFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
}

/* كلمة المرور */
.f2427974757f {
  position: absolute;
  left: 223px;
  top: 0px;
  width: 200px;
}
.f2427974757f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f2427974757f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f2427974757f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: right;
}
.f2427974757f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(170, 102, 44, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(170, 102, 44, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
}

/* آخر خطوات */
.f240e1eef0f0 {
  position: absolute;
  left: 184.5px;
  top: 206.97px;
  height: 29px;
}
.f240e1eef0f0 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0f0 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0f0 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f240e1eef0f0 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 900;
}

/* إنشاء الحساب */
.f240e1eef0ef {
  position: absolute;
  left: 42px;
  top: 242px;
  width: 402px;
}
.f240e1eef0ef .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.f240e1eef0ef .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.f240e1eef0ef .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.f240e1eef0ef .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
}

/* background */
.background-f4dfe1cfe758 {
  position: absolute;
  left: -179.5px;
  top: -335px;
  width: 845px;
  height: 1435px;
}

/* Group */
.group-f240e1eef0fd > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-160px,-160px);
}
.group-f240e1eef0fd {
  position: absolute;
  left: 0px;
  top: 1160px;
  width: 845px;
  height: 215px;
  opacity: 0.3;
}

/* Group */
.group-f240e1eef0fc > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-160px,-160px);
}
.group-f240e1eef0fc {
  position: absolute;
  left: 0px;
  top: 413px;
  width: 845px;
  height: 215px;
  opacity: 0.3;
}

/* Rectangle */
.rectangle-f240e1eef0f1 {
  position: absolute;
  left: 179.5px;
  top: 639px;
  width: 486px;
  height: 796px;
  background: #ffffffFF;
  border-radius: 80px 80px 0px 0px;
  box-shadow: 4px 4px 50px 7px #00000080;
}

/* logo_blured */
.logoblure-f243b506b4f5 {
  position: absolute;
  left: 156px;
  top: 0px;
  width: 533px;
  height: 699px;
  opacity: 0.15;
}

/* svg-path */
.svgpath-f243b506b4f8 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,-2.2737367544323206e-13px);
}
.svgpath-f243b506b4f8 {
  position: absolute;
  left: 32.86px;
  top: 330.86px;
  width: 467.22px;
  height: 333.61px;
}

/* svg-path */
.svgpath-f243b506b4f7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f243b506b4f7 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 533px;
  height: 699px;
}

/* svg-path */
.svgpath-f243b506b4f6 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(4.547473508864641e-13px,0px);
}
.svgpath-f243b506b4f6 {
  position: absolute;
  left: 151.18px;
  top: 86.78px;
  width: 228.43px;
  height: 227.7px;
}

/* Rectangle */
.rectangle-f240e1eef0ee {
  position: absolute;
  left: 157.5px;
  top: 309px;
  width: 530px;
  height: 475px;
  background: linear-gradient(to bottom, rgba(72, 34, 0, 1) 0%,rgba(170, 101, 43, 1) 100%);
  border-radius: 0px 0px 0px 0px;
}